body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  scroll-behavior: smooth;
}
.nav-bar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 70px;
  display: flex;
  align-items: center;
}
#airbnb-logo {
  width: 100px;
  padding: 20px 36px;
}
section {
  margin: 20px;
}
.hero {
  display: flex;
  flex-direction: column;
}
.hero--image-grid {
  width: 70%;
  max-width: 600px;
  align-self: center;
}
.hero--text-heading {
  font-size: 40px;
  font-weight: 600;
  margin: 5px;
}
.card-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
.card {
  font-size: 12px;
}
.card--cover-image {
  width: 200px;
  border-radius: 10px;
}
.card--star-icon {
  width: 15px;
  padding: 5px;
}
.card--details {
  display: flex;
  align-items: center;
  margin: 7px auto;
}
.card--price {
  font-weight: 600;
}
p {
  margin: 0;
}

.grey-text {
  color: #9f9f9f;
  padding-left: 3px;
}
